.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.4s;
}

.nav__link:hover {
  opacity: 50%;
  cursor: pointer;
}

.nav__links {
  margin: 0;
  display: flex;
  font-weight: 500;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}
