.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.video {
  position: relative;
}

.recipes__videos {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
}
